/* Animation styling for navbar links; styles underline onHover */

.nav-link {
    text-decoration: underline 0.08em rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
}

.nav-link:hover {
    text-decoration-color: #030627;
}

h1 {
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: #030627;
}