/* 1st div in App.js */
.main {
    width: 100vh;
    height: 100vh;
}

/* video tag */
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 2nd div in Home.js, under VideoBackground component */
.content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}