@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: clip;
}

.name-style {
    font-family: 'Katibeh', cursive;
    background: linear-gradient(to bottom, var(--tw-gradient-stops)); /* .bg-gradient-to-b */
    color: transparent; /* .text-transparent */
    background-clip: text; /* .bg-clip-text */
    line-height: 1; /* .leading-none */
}